#position {
  width: 400px;
  height: 400px;
  border: 1px solid black;
  overflow: scroll;
}
.position-relative {
position: relative;
top: 0px;

}
.position-absolute {
  position: absolute;
  top: 0px;
}

/* Sticky */
.position-sticky {
  list-style-type: none;
  display: flex;
  background-color: black;
  position: sticky;
  top: 0;
}
