/* text-overflow: clip */
.text {
  border: 1px solid black;
  width: 100px;
  text-overflow: clip;
  overflow: scroll;
  white-space: nowrap;
}
/* text-overflorw: ellipsis */
.text-1 {
  border: 1px solid black;
  width: 100px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.text-2 {
  border: 1px solid black;
  width: 100px;
  word-break: keep-all;
}