/* 2D transform */
#transform {
  display: flex;
  flex-wrap: wrap;
}
/* translate */
.translate-zero {
  width: 300px;
  height: 300px;
  background-color: #000;
  color: #fff;
  font-family: 'Courier New', Courier, monospace;
  font-size: 22px;
  padding: 5px;
  box-shadow: 5px 5px 5px #000;
  margin: 20px;
}
.translate-zero:hover {
  transform: translate(50px, 100px);
  box-shadow: 10px 10px 10px #55925F;
}
.translate-one {
  width: 400px;
  height: 400px;
  background-color: #fff;
  color: #000;
  font-family: sans-serif;
  font-size: 1.5em;
  padding: 7px;
  box-shadow: 15px 7px 7px #F1F1F1;
  margin: 20px;
  border: 1px solid black;
  border-radius: 20px;
}
.translate-one:hover {
  transform: translate(300px, -250px);
  box-shadow: 7px 15px 10px #5A6BA3;
}

/* rotate */
.rotate-zero {
  width: 600px;
  height: 200px;
  background-color: #BF8FC1;
  color: #E5DB5A;
  padding: 10px;
  box-shadow: 10px 10px 10px #D95B5B;
  margin: 20px;
}
.rotate-zero:hover {
  width: 400px;
  height: 150px;
  border-radius: 20px;
  transform: rotate(200deg);
  box-shadow: 6px 6px 7px #53C8B3;
}
.rotate-one {
  width: 400px;
  height: 200px;
  background-color: #52C17A;
  color: #72E1E1;
  padding: 7px;
  box-shadow: 7px 7px 7px #3E68E2;
  margin: 20px;
}
.rotate-one:hover {
  transform: rotate(-100deg);
  box-shadow: 10px 10px 10px #CD2C3D;
}

/* scale */
.scale-zero {
  width: 400px;
  height: 200px;
  background-color: #6B151E;
  color: #fff;
  font-family: serif;
  font-size: 18px;
  padding: 5px;
  box-shadow: 5px 7px 7px #53B457;
  margin: 20px;
}
.scale-zero:hover {
  border-radius: 20px;
  width: 200px;
  transform: scale(0.7, 0.5);
}

/* skew */
.skew-zero {
  width: 400px;
  height: 200px;
  background-color: #D4E224;
  color: #fff;
  font-size: 20px;
  padding: 7px;
  box-shadow: 7px 7px 7px #24E291;
  margin: 20px;
}
.skew-zero:hover {
  background-color:#3E68E2;
  color:#55925F;
  transform: skew(150deg);
}

/* matrix */
.matrix-zero {
  width: 400px;
  height: 200px;
  background-color: #0E4F33;
  color: #fff;
  font-size: 24px;
  padding: 10px;
  box-shadow: 10px 10px 10px #000;
  margin: 20px;
}
.matrix-zero:hover {
  transform: matrix(2, 0, 0, 1.5);
}
hr {
  width: 100%;
}

/* 3d transform */
#three-dimensional-rotate {
  display: flex;
  flex-wrap: wrap;
}
.three-dimensional-rotate {
  width: 400px;
  height: 200px;
  background-color: #579B13;
  color: #fff;
  font-size: 22px;
  padding: 6px;
  box-shadow: 10px 10px 10px #000;
  margin: 20px;
  animation: animation 20s linear infinite;
}
.three-dimensional-rotate:hover {
  transform: rotateZ(150deg);
}

/* animation */
@keyframes animation {
  0% {
    width: 200px;
  }
  25% {
    width: 400px;
  }
  50% {
    width: 600px;
  }
  75% {
    width: 800px;
  }
  100% {
    width: 1000px;
  }
}